.move_row{
    margin: 30px 0;
}
.line1{
    /* width: 70%; */
   display: flex;
   justify-content: space-between;
}
.line1 >div{
    flex: 1;
    /* font-size: 1.2em; */
}
.line2{
    /* width: 70%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.line2 >svg{
    
}
.icon{
    font-size: 1.5em;
}
.arrow{
    text-align: center;
}
.requestId >div{
    color: rgb(243, 89, 89);
}

.property_size{
    display: flex;
    align-items: center;
}

.viewDetails{
    padding: 10px 20px;
    background-color: white;
    border: 1px solid rgb(243, 89, 89);
    border-radius: 5px;
    margin-right: 10px;
    color: rgb(243, 89, 89);
    cursor: pointer;
}
.status{
    padding: 10px 20px;
    background-color: rgb(243, 89, 89);
    color: white;
    border-radius: 5px;
}
.disclaimer{
    display: flex;
}
svg{
    color:rgb(243, 89, 89);
    margin-right: 10px;
    
    
   
   
}
#editIcon{
    color: black;
    margin-left: 5px;
    cursor: pointer;

}
